In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:


# Importing data

In [3]:
# importing :
data = pd.read_csv(r"phase_1_original_data/games_final_data.csv")

In [4]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [5]:


# Recognizing data features

In [6]:
print(data.info() , data.shape , sep="\n\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      50872 non-null  int64
 1   app_id          50872 non-null  int64
 2   title           50872 non-null  object
 3   date_release    50872 non-null  object
 4   win             50872 non-null  bool
 5   mac             50872 non-null  bool
 6   linux           50872 non-null  bool
 7   rating          50872 non-null  object
 8   positive_ratio  50872 non-null  int64
 9   user_reviews    50872 non-null  int64
 10  price_final     50872 non-null  float64
 11  price_original  50872 non-null  float64
 12  discount        50872 non-null  float64
 13  steam_deck      50872 non-null  bool
 14  hours           37610 non-null  float64
 15  is_recommended  37610 non-null  float64
dtypes: bool(4), float64(5), int64(4), object(3)
memory usage: 4.9+ MB
None


(50872, 16)

In [7]:
data.nunique()

Unnamed: 0        50872
app_id            50872
title             50751
date_release       4292
win                   2
mac                   2
linux                 2
rating                9
positive_ratio      100
user_reviews       4847
price_final         436
price_original      183
discount             75
steam_deck            2
hours             18588
is_recommended     3601
dtype: int64

In [8]:
data.head(5)

,Unnamed: 0,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,hours,is_recommended
0,0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True,31979.9,1426.0
1,1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True,NaN,NaN
2,2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True,141729.5,6308.0
3,3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True,9451.1,549.0
4,4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True,197015.2,4295.0

In [9]:
# Numerical Data 
data.select_dtypes(exclude=["object" , "bool"]).sample(5)

,Unnamed: 0,app_id,positive_ratio,user_reviews,price_final,price_original,discount,hours,is_recommended
33251,33251,722990,91,24,2.99,2.99,0.0,67.1,14.0
6274,6274,1857650,100,84,14.99,14.99,0.0,58.2,37.0
11865,11865,1871470,68,72,0.00,0.00,0.0,1215.0,8.0
45951,45951,2230000,100,10,6.99,6.99,0.0,NaN,NaN
35630,35630,882040,77,35,4.99,4.99,0.0,41.4,23.0

In [10]:
## Numerical data describtion 
data.describe()

,Unnamed: 0,app_id,positive_ratio,user_reviews,price_final,price_original,discount,hours,is_recommended
count,50872.000000,5.087200e+04,50872.000000,5.087200e+04,50872.000000,50872.000000,50872.000000,3.761000e+04,37610.000000
mean,25435.500000,1.055224e+06,77.052033,1.824425e+03,8.620325,8.726788,5.592212,1.100841e+05,938.697102
std,14685.625784,6.103249e+05,18.253592,4.007352e+04,11.514164,11.507021,18.606679,1.630654e+06,6709.161020
min,0.000000,1.000000e+01,0.000000,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,12717.750000,5.287375e+05,67.000000,1.900000e+01,0.990000,0.990000,0.000000,4.300000e+01,10.000000
50%,25435.500000,9.860850e+05,81.000000,4.900000e+01,4.990000,4.990000,0.000000,2.584000e+02,28.000000
75%,38153.250000,1.524895e+06,91.000000,2.060000e+02,10.990000,11.990000,0.000000,2.077175e+03,137.000000
max,50871.000000,2.599300e+06,100.000000,7.494460e+06,299.990000,299.990000,90.000000,1.018100e+08,294879.000000

In [11]:
# Categorical data
non_num_data = data.select_dtypes(include=["object"])
non_num_data.sample(5)

                  title date_release           rating
3128   Medieval Monarch   2020-01-01    Very Positive
32082       MYRNEscapes   2022-05-18         Positive
6564            PixPhys   2021-04-25  Mostly Positive
9629      Stranded Deep   2022-08-10  Mostly Positive
13918          Fae Farm   2023-09-08            Mixed

In [12]:
## Categorical data description 
non_num_data.describe()

        title date_release    rating
count   50872        50872     50872
unique  50751         4292         9
top      Loop   2020-06-18  Positive
freq        4           92     13502

In [13]:
data["rating"].value_counts()

rating
Positive                   13502
Very Positive              13139
Mixed                      12157
Mostly Positive             8738
Mostly Negative             1849
Overwhelmingly Positive     1110
Negative                     303
Very Negative                 60
Overwhelmingly Negative       14
Name: count, dtype: int64

In [14]:
# Dataset Overview

# The dataset contains 50,872 entries and 16 columns .

#     Unnamed: 0: An index column that can be dropped.
#     app_id: A unique identifier for each game.
#     title: The name of the game.
#     date_release: The release date of the game.
#     win: Indicates whether the game is available on Windows.
#     mac: Indicates whether the game is available on macOS.
#     linux: Indicates whether the game is available on Linux.
#     rating: User rating of the game , EX: ("Very Positive", "Mixed").
#     positive_ratio: The percentage of positive reviews.
#     user_reviews: The total number of user reviews.
#     price_final: The final price of the game after discounts.
#     price_original: The original price of the game.
#     discount: The discount percentage applied to the game.
#     steam_deck: Indicates whether the game is Steam Deck compatible.
#     hours: The total hours played by users  .
#     is_recommended: The total number of users who recommended the game .

In [15]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################da

In [16]:


# Data Cleaning

In [17]:
## droping useless columns
data.drop( "Unnamed: 0", axis=1 , inplace=True)

In [18]:
nan_values_counts = data.isnull().sum()

print(nan_values_counts)

app_id                0
title                 0
date_release          0
win                   0
mac                   0
linux                 0
rating                0
positive_ratio        0
user_reviews          0
price_final           0
price_original        0
discount              0
steam_deck            0
hours             13262
is_recommended    13262
dtype: int64

In [19]:
int_types = [int , float , "int64" , "float64"]

for i , col in zip(nan_values_counts , list(data.columns)) :
    nan_per = (i/data.shape[0])*100
    print( "{:s} --> {:.3f} '{:s}' ".format( col , nan_per , str(data[col].dtype)) , end="\n\n")

app_id --> 0.000 'int64'

title --> 0.000 'object'

date_release --> 0.000 'object'

win --> 0.000 'bool'

mac --> 0.000 'bool'

linux --> 0.000 'bool'

rating --> 0.000 'object'

positive_ratio --> 0.000 'int64'

user_reviews --> 0.000 'int64'

price_final --> 0.000 'float64'

price_original --> 0.000 'float64'

discount --> 0.000 'float64'

steam_deck --> 0.000 'bool'

hours --> 26.069 'float64'

is_recommended --> 26.069 'float64'

In [20]:
## handling nans

hg = data.loc[:: , ["hours" ,"rating"]].groupby("rating").mean()


for r in hg.index :
    filling_value = int(hg[hg.index == r]["hours"][0])
    data.loc[data["rating"] == r  ,"hours"] = data.loc[data["rating"] == r  ,"hours"].fillna(filling_value) 

#######################
    
irg = data.loc[:: , ["is_recommended" ,"rating"]].groupby("rating").mean()

for r in irg.index :
    filling_value = int(irg[hg.index == r]["is_recommended"][0])
    data.loc[data["rating"] == r  ,"is_recommended"] = data.loc[data["rating"] == r  ,"is_recommended"].fillna(filling_value)

/tmp/ipykernel_7070/82596953.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  filling_value = int(hg[hg.index == r]["hours"][0])
/tmp/ipykernel_7070/82596953.py:15: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  filling_value = int(irg[hg.index == r]["is_recommended"][0])

In [21]:
## Converting the data column ontp date formate

data['date_release'] = pd.to_datetime(data['date_release'])

In [22]:
# Rechecking

print(data.info() , data.shape , sep="\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   title           50872 non-null  object
 2   date_release    50872 non-null  datetime64[ns]
 3   win             50872 non-null  bool
 4   mac             50872 non-null  bool
 5   linux           50872 non-null  bool
 6   rating          50872 non-null  object
 7   positive_ratio  50872 non-null  int64
 8   user_reviews    50872 non-null  int64
 9   price_final     50872 non-null  float64
 10  price_original  50872 non-null  float64
 11  discount        50872 non-null  float64
 12  steam_deck      50872 non-null  bool
 13  hours           50872 non-null  float64
 14  is_recommended  50872 non-null  float64
dtypes: bool(4), datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 4.5+ MB
None

(50872, 15)

In [23]:
# Rechecking

nan_values_counts = data.isnull().sum()

print(nan_values_counts)

app_id            0
title             0
date_release      0
win               0
mac               0
linux             0
rating            0
positive_ratio    0
user_reviews      0
price_final       0
price_original    0
discount          0
steam_deck        0
hours             0
is_recommended    0
dtype: int64

In [24]:
# Rechecking

data.tail(5)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,hours,is_recommended
50867,2296380,I Expect You To Die 3: Cog in the Machine,2023-09-28,True,False,False,Very Positive,96,101,22.0,0.0,0.0,True,243590.0,1963.0
50868,1272080,PAYDAY 3,2023-09-21,True,False,False,Mostly Negative,38,29458,40.0,0.0,0.0,True,2783.0,38.0
50869,1402110,Eternights,2023-09-11,True,False,False,Very Positive,89,1128,30.0,0.0,0.0,True,243590.0,1963.0
50870,2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.0,0.0,0.0,True,243590.0,1963.0
50871,2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.0,0.0,0.0,True,243590.0,1963.0

In [25]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [26]:


# Handling duplicated data

In [27]:
duplicates_data = data.duplicated()
duplicates_data_count = data.duplicated().sum()

In [28]:
## There is no dublicates
print(duplicates_data_count)
data.drop_duplicates(inplace=True)

0

In [29]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [30]:


# Handling outliers

In [31]:
print(data["rating"].value_counts() , data["rating"].nunique() , sep="\n\n")

rating
Positive                   13502
Very Positive              13139
Mixed                      12157
Mostly Positive             8738
Mostly Negative             1849
Overwhelmingly Positive     1110
Negative                     303
Very Negative                 60
Overwhelmingly Negative       14
Name: count, dtype: int64

9

In [32]:
num_cols = list(data.select_dtypes(include=[int , float , "int64" ,"float64"]).columns)

In [33]:
num_cols = num_cols[1:]
num_cols

['positive_ratio',
 'user_reviews',
 'price_final',
 'price_original',
 'discount',
 'hours',
 'is_recommended']

In [34]:
data.shape

(50872, 15)

In [35]:
## Standard Deviation way is the most suitable way for this data 

for col in num_cols :
    upper_limit = np.mean(data[col]) + 4*(np.std(data[col]))
    lower_limit = np.mean(data[col]) - 4*(np.std(data[col]))

    data = data[ (data[col] < upper_limit) & (data[col] > lower_limit) ]

In [36]:
data.shape

(48236, 15)

In [37]:
print(data["rating"].value_counts() , data["rating"].nunique() , sep="\n\n")

rating
Positive                   12974
Very Positive              12410
Mixed                      11560
Mostly Positive             8268
Mostly Negative             1776
Overwhelmingly Positive      918
Negative                     258
Very Negative                 59
Overwhelmingly Negative       13
Name: count, dtype: int64

9

In [38]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [39]:


# Features Engineering

In [40]:
data.sample(5)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,hours,is_recommended
40262,846730,RUGBY 20,2020-01-23,True,False,False,Mixed,67,124,19.99,19.99,0.0,True,2950.8,45.0
29348,584600,Virus Crashers,2017-02-20,True,False,False,Mixed,57,19,0.99,0.99,0.0,True,33.4,5.0
47795,442120,Pinball FX3,2017-09-26,True,False,False,Very Positive,87,4436,0.00,0.00,0.0,True,239204.2,2716.0
8575,1091150,Coloring Pixels - Flowers Pack,2019-06-21,True,True,True,Positive,84,19,0.99,0.99,0.0,True,138.0,13.0
4548,1919140,Antioch: Scarlet Bay,2022-11-25,True,True,True,Very Positive,84,133,4.99,4.99,0.0,True,366.4,53.0

In [41]:
data.rename(columns={ "hours" : "num_of_played_hours" , 
                      "is_recommended" : "num_of_recommendations" ,
                       "user_reviews" : "num_of_user_reviews"} ,inplace=True)

In [42]:
list(data.columns)

['app_id',
 'title',
 'date_release',
 'win',
 'mac',
 'linux',
 'rating',
 'positive_ratio',
 'num_of_user_reviews',
 'price_final',
 'price_original',
 'discount',
 'steam_deck',
 'num_of_played_hours',
 'num_of_recommendations']

In [43]:
## Adding more features based on the existed ones 

data["price_difference"] = data["price_original"] - data["price_final"] 

data["game_age"] = 2024 - data["date_release"].dt.year

data["platform_count"] = np.sum(data.loc[:: , ["win" , "mac" , "linux"]] , axis=1)

In [44]:
data["recommendation_ratio"] = np.round(data["num_of_recommendations"] / data["num_of_user_reviews"] , decimals = 3)*100

In [45]:
# Rechecking
data.sample(5)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,num_of_user_reviews,price_final,price_original,discount,steam_deck,num_of_played_hours,num_of_recommendations,price_difference,game_age,platform_count,recommendation_ratio
49626,2409650,Chop Goblins - Cabinet of Curiosities,2023-05-05,True,False,False,Positive,100,23,0.99,0.99,0.0,True,138.0,13.0,0.0,1,1,56.5
26378,512420,Wave Magic VR,2016-12-29,True,False,False,Positive,80,10,5.99,5.99,0.0,True,20.1,6.0,0.0,8,1,60.0
7675,252710,The Last Express Gold Edition,2013-11-21,True,True,False,Mostly Positive,79,267,6.99,6.99,0.0,True,1784.0,90.0,0.0,11,2,33.7
13147,1001070,Koi,2019-02-22,True,False,False,Very Positive,87,83,0.99,0.99,0.0,True,631.9,78.0,0.0,5,1,94.0
6667,280680,Krita,2014-06-10,True,True,True,Very Positive,94,2614,14.99,14.99,0.0,True,279990.9,1301.0,0.0,10,3,49.8

In [46]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [47]:


# Statistics

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48236 entries, 0 to 50871
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   app_id                  48236 non-null  int64
 1   title                   48236 non-null  object
 2   date_release            48236 non-null  datetime64[ns]
 3   win                     48236 non-null  bool
 4   mac                     48236 non-null  bool
 5   linux                   48236 non-null  bool
 6   rating                  48236 non-null  object
 7   positive_ratio          48236 non-null  int64
 8   num_of_user_reviews     48236 non-null  int64
 9   price_final             48236 non-null  float64
 10  price_original          48236 non-null  float64
 11  discount                48236 non-null  float64
 12  steam_deck              48236 non-null  bool
 13  num_of_played_hours     48236 non-null  float64
 14  num_of_recommendations  48236 non-null  float64
 15  price_difference        48236 non-null  float64
 16  game_age                48236 non-null  int32
 17  platform_count          48236 non-null  int64
 18  recommendation_ratio    48236 non-null  float64
dtypes: bool(4), datetime64[ns](1), float64(7), int32(1), int64(4), object(2)
memory usage: 5.9+ MB

In [49]:
temp_list = list(data.select_dtypes(exclude=["object" , "bool" , "datetime64[ns]"]).columns)
for col in temp_list :
    print(f""" the columns is : {col}
                       the mean : {np.mean(data[col])} 
                       the median : {np.median(data[col])} 
                       the std : {np.std(data[col])} 
                       the var : {np.var(data[col])} 
                       the skew : {data[col].skew()} 
                       the kurt : {data[col].kurt()} 
                       the min value : {np.min(data[col])}
                       the max value : {np.max(data[col])}
                       the range : {np.max(data[col]) - np.min(data[col])}
                       the quantile 25 : {data[col].quantile(0.25) }
                       the quantile 50 : {data[col].quantile(0.50) }
                       the quantile 75 : {data[col].quantile(0.75) }""" , end="\n\n\n")

 the columns is : app_id
                       the mean : 1056556.0686831411
                       the median : 989600.0
                       the std : 607306.8876594773
                       the var : 368821655798.6409
                       the skew : 0.3485296595259009
                       the kurt : -0.8870482449885002
                       the min value : 20
                       the max value : 2599300
                       the range : 2599280
                       the quantile 25 : 533240.0
                       the quantile 50 : 989600.0
                       the quantile 75 : 1520862.5


 the columns is : positive_ratio
                       the mean : 77.07423915747574
                       the median : 81.0
                       the std : 18.20434197623786
                       the var : 331.3980667878157
                       the skew : -1.0231043309123342
                       the kurt : 0.7294034541119552
                       the min value : 5
                       the max value : 100
                       the range : 95
                       the quantile 25 : 67.0
                       the quantile 50 : 81.0
                       the quantile 75 : 91.0


 the columns is : num_of_user_reviews
                       the mean : 507.09683638776016
                       the median : 48.0
                       the std : 2212.4756573827194
                       the var : 4895048.534511097
                       the skew : 21.252287024490123
                       the kurt : 920.334448439601
                       the min value : 10
                       the max value : 141919
                       the range : 141909
                       the quantile 25 : 19.0
                       the quantile 50 : 48.0
                       the quantile 75 : 191.0


 the columns is : price_final
                       the mean : 7.758913052491914
                       the median : 4.99
                       the std : 8.277611827651182
                       the var : 68.51885756927072
                       the skew : 1.5219437486994343
                       the kurt : 2.491105032909451
                       the min value : 0.0
                       the max value : 54.0
                       the range : 54.0
                       the quantile 25 : 0.99
                       the quantile 50 : 4.99
                       the quantile 75 : 9.99


 the columns is : price_original
                       the mean : 7.822076042789618
                       the median : 4.99
                       the std : 8.25300312061336
                       the var : 68.11206050885386
                       the skew : 1.442710633845369
                       the kurt : 2.1068896037892
                       the min value : 0.0
                       the max value : 40.0
                       the range : 40.0
                       the quantile 25 : 0.99
                       the quantile 50 : 4.99
                       the quantile 75 : 9.99


 the columns is : discount
                       the mean : 3.6768596069325814
                       the median : 0.0
                       the std : 13.910880959218826
                       the var : 193.5126090615569
                       the skew : 3.9070837178370303
                       the kurt : 14.317176107210113
                       the min value : 0.0
                       the max value : 79.0
                       the range : 79.0
                       the quantile 25 : 0.0
                       the quantile 50 : 0.0
                       the quantile 75 : 0.0


 the columns is : num_of_played_hours
                       the mean : 28868.859177792518
                       the median : 319.0
                       the std : 94416.61001050503
                       the var : 8914496245.875797
                       the skew : 7.480182290537418
                       the kurt : 87.99990025884192
                       the min value : 0.0
                       the max value : 1978868.4
                       the range : 1978868.4
                       the quantile 25 : 80.5
                       the quantile 50 : 319.0
                       the quantile 75 : 7290.775


 the columns is : num_of_recommendations
                       the mean : 375.2336843851066
                       the median : 33.0
                       the std : 988.967067081058
                       the var : 978055.8597709099
                       the skew : 5.172260448524674
                       the kurt : 34.18512819262379
                       the min value : 0.0
                       the max value : 9658.0
                       the range : 9658.0
                       the quantile 25 : 13.0
                       the quantile 50 : 33.0
                       the quantile 75 : 191.0


 the columns is : price_difference
                       the mean : 0.06316299029770298
                       the median : 0.0
                       the std : 3.3098497312476236
                       the var : 10.955105243439967
                       the skew : -5.7168991387537815
                       the kurt : 84.33992481075592
                       the min value : -54.0
                       the max value : 30.400000000000002
                       the range : 84.4
                       the quantile 25 : 0.0
                       the quantile 50 : 0.0
                       the quantile 75 : 0.0


 the columns is : game_age
                       the mean : 5.302160212289576
                       the median : 5.0
                       the std : 3.0870292958863095
                       the var : 9.529749873660323
                       the skew : 0.8674183729840711
                       the kurt : 0.940769432996261
                       the min value : 1
                       the max value : 27
                       the range : 26
                       the quantile 25 : 3.0
                       the quantile 50 : 5.0
                       the quantile 75 : 7.0


 the columns is : platform_count
                       the mean : 1.4196036155568454
                       the median : 1.0
                       the std : 0.7595103249896267
                       the var : 0.5768559337658483
                       the skew : 1.1914939919878371
                       the kurt : 0.12926420420149132
                       the min value : 0
                       the max value : 3
                       the range : 3
                       the quantile 25 : 1.0
                       the quantile 50 : 1.0
                       the quantile 75 : 2.0


 the columns is : recommendation_ratio
                       the mean : 250.77070445310554
                       the median : 52.2
                       the std : 656.6108875740858
                       the var : 431137.85768082883
                       the skew : 4.167149756015961
                       the kurt : 18.911233444706397
                       the min value : 0.0
                       the max value : 7753.3
                       the range : 7753.3
                       the quantile 25 : 34.9
                       the quantile 50 : 52.2
                       the quantile 75 : 89.5

In [50]:
### Summary of statistical analysis

### Data Analysis Summary:


# 1. app_id:

# Mean: 1,062,485 - suggests a large number of games in the dataset.

# Median: 999,260 - Similar to the mean, indicating a roughly symmetrical distribution.

# Skewness: 0.34 - A slight positive skew, meaning there are more games with higher app IDs than lower.

# Range: 2,599,280 - A very wide range, again suggesting a large dataset.

# ---------------------------------------------------------------------------------------------------------------------------

# 2. positive_ratio:

# Mean: 77.66% - indicates a generally high positive review ratio, suggesting popular games.

# Median: 81% - Similar to the mean, highlighting a relatively balanced distribution of positive reviews.

# Skewness: -0.86 - A negative skew means there are more games with higher positive review ratios, likely due to the presence of highly-rated games.

# ---------------------------------------------------------------------------------------------------------------------------

# 3. num_of_user_reviews:

# Mean: 380.34 - Suggests that games in the dataset have a decent number of user reviews.

# Median: 47 - The median is significantly lower than the mean, hinting at a highly skewed distribution.

# Skewness: 20.48 - An extremely positive skew indicates a heavy concentration of games with low review counts, with a few games having a massive number of reviews.

# Kurtosis: 903.03 - A massive kurtosis indicates a very sharp peak and extremely heavy tails in the distribution, confirming the presence of outliers with very high review counts.

# ---------------------------------------------------------------------------------------------------------------------------
    
# 4. price_final:

# Mean: 7.36 - The average final price of games in the dataset.

# Median: 4.99 - Median is lower than the mean, implying a positive skew.

# Skewness: 1.19 - Confirms a positive skew, indicating a concentration of games with lower prices and fewer games with high prices.

# ---------------------------------------------------------------------------------------------------------------------------

# 5. price_original:

# Mean: 7.31 - The average original price of games in the dataset.

# Median: 4.99 - Similar to the final price, suggesting similar price distribution.

# Skewness: 1.12 - Slightly lower skew than final price, but still positive, again indicating a concentration of lower priced games.

# ---------------------------------------------------------------------------------------------------------------------------

# 6. discount:

# Mean: 2.07 - The average discount on games.

# Median: 0 - Significantly lower than the mean, indicating a skewed distribution.

# Skewness: 4.70 - A high positive skew suggests a vast majority of games have no discounts, and a few have very large discounts.

# Kurtosis: 21.49 - High kurtosis again indicates sharp peak and heavy tails, reinforcing the skewness.

# ---------------------------------------------------------------------------------------------------------------------------

# 7. num_of_played_hours:

# Mean: 5,986.33 - The average number of hours played across all games.

# Median: 66 - A stark difference from the mean, indicating a strong positive skew.

# Skewness: 15.49 - Confirms a highly positive skew, with many games having low playtimes and a few having extremely high playtimes.

# Kurtosis: 332.74 - Extremely high kurtosis, again confirming a few games with very high play times driving the distribution.

# ---------------------------------------------------------------------------------------------------------------------------

# 8. num_of_recommendations:

# Mean: 156.53 - The average number of recommendations for each game.

# Median: 12 - A large difference from the mean, implying a heavily skewed distribution.

# Skewness: 5.64 - Confirms a high positive skew, with most games having few recommendations and a few having a large number.

# Kurtosis: 37.13 - Extremely high kurtosis confirms the presence of outliers with a vast number of recommendations.

# ---------------------------------------------------------------------------------------------------------------------------
    
# 9. price_difference:

# Mean: -0.05 - The average price difference between original and final price.

# Median: 0 - The median suggests that most games have no price difference.

# Skewness: -8.80 - A highly negative skew indicates a large number of games with no price difference, and a few games with significant price differences.

# Kurtosis: 113.33 - Extremely high kurtosis confirms the presence of a few games with very large price differences.

# ---------------------------------------------------------------------------------------------------------------------------

# 10. game_age:

# Mean: 5.27 - The average age of games in years.

# Median: 5 - Similar to the mean, suggesting a fairly balanced distribution.

# Skewness: 0.85 - A slight positive skew, meaning there are more games older than the average age.

# ---------------------------------------------------------------------------------------------------------------------------

# 11. platform_count:

# Mean: 1.42 - The average number of platforms each game is available on.

# Median: 1 - The median is lower than the mean, indicating a positive skew.

# Skewness: 1.17 - Confirms a positive skew, suggesting a majority of games are available on one platform.

# ---------------------------------------------------------------------------------------------------------------------------

# 12. recommendation_ratio:

# Mean: 39.98 - The average ratio of recommendations to reviews.

# Median: 35.2 - Similar to the mean, indicating a roughly balanced distribution.

# Skewness: 31.92 - An extremely positive skew, similar to other variables with very high outliers.

# Kurtosis: 1934.53 - Extremely high kurtosis again confirms the presence of outliers with very high recommendation ratios.

# ---------------------------------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# ----------------------------------------------------------------------------------------------------------------------------------------------------
# ----------------------------------------------------------------------------------------------------------------------------------------------------

In [51]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [52]:


# Extracting the final data

In [53]:
data.to_csv("phase_1_final_extracted_data/steam_games_extracted_phase_1.csv" , index=False)

In [54]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [55]:
# End of phase one ...