In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:


# Importing data

In [3]:
data = pd.read_csv(r"phase_1_data/games_final_data.csv")

In [4]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [5]:


# Recognizing data features

In [6]:
print(data.info() , data.shape , sep="\n\n\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      50872 non-null  int64
 1   app_id          50872 non-null  int64
 2   title           50872 non-null  object
 3   date_release    50872 non-null  object
 4   win             50872 non-null  bool
 5   mac             50872 non-null  bool
 6   linux           50872 non-null  bool
 7   rating          50872 non-null  object
 8   positive_ratio  50872 non-null  int64
 9   user_reviews    50872 non-null  int64
 10  price_final     50872 non-null  float64
 11  price_original  50872 non-null  float64
 12  discount        50872 non-null  float64
 13  steam_deck      50872 non-null  bool
 14  hours           37610 non-null  float64
 15  is_recommended  37610 non-null  float64
dtypes: bool(4), float64(5), int64(4), object(3)
memory usage: 4.9+ MB
None


(50872, 16)

In [7]:
data.nunique()

Unnamed: 0        50872
app_id            50872
title             50751
date_release       4292
win                   2
mac                   2
linux                 2
rating                9
positive_ratio      100
user_reviews       4847
price_final         436
price_original      183
discount             75
steam_deck            2
hours             18588
is_recommended     3601
dtype: int64

In [8]:
data.head(5)

,Unnamed: 0,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,hours,is_recommended
0,0,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True,31979.9,1426.0
1,1,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True,NaN,NaN
2,2,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True,141729.5,6308.0
3,3,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True,9451.1,549.0
4,4,249050,Dungeon of the ENDLESS™,2014-10-27,True,True,False,Very Positive,88,8784,11.99,11.99,0.0,True,197015.2,4295.0

In [9]:
# Numerical Data 
data.select_dtypes(exclude=["object" , "bool"]).sample(5)

,Unnamed: 0,app_id,positive_ratio,user_reviews,price_final,price_original,discount,hours,is_recommended
42007,42007,1278370,79,59,4.99,4.99,0.0,22.4,26.0
22086,22086,1850380,14,1739,0.99,0.99,0.0,NaN,NaN
10530,10530,1967800,90,10,1.99,1.99,0.0,NaN,NaN
9343,9343,395270,75,285,1.99,1.99,0.0,206.3,113.0
17290,17290,740200,83,554,3.99,3.99,0.0,2815.4,285.0

In [10]:
## Numerical data describtion 
data.describe()

,Unnamed: 0,app_id,positive_ratio,user_reviews,price_final,price_original,discount,hours,is_recommended
count,50872.000000,5.087200e+04,50872.000000,5.087200e+04,50872.000000,50872.000000,50872.000000,3.761000e+04,37610.000000
mean,25435.500000,1.055224e+06,77.052033,1.824425e+03,8.620325,8.726788,5.592212,1.100841e+05,938.697102
std,14685.625784,6.103249e+05,18.253592,4.007352e+04,11.514164,11.507021,18.606679,1.630654e+06,6709.161020
min,0.000000,1.000000e+01,0.000000,1.000000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,12717.750000,5.287375e+05,67.000000,1.900000e+01,0.990000,0.990000,0.000000,4.300000e+01,10.000000
50%,25435.500000,9.860850e+05,81.000000,4.900000e+01,4.990000,4.990000,0.000000,2.584000e+02,28.000000
75%,38153.250000,1.524895e+06,91.000000,2.060000e+02,10.990000,11.990000,0.000000,2.077175e+03,137.000000
max,50871.000000,2.599300e+06,100.000000,7.494460e+06,299.990000,299.990000,90.000000,1.018100e+08,294879.000000

In [11]:
# Categorical data
non_num_data = data.select_dtypes(include=["object"])
non_num_data.sample(5)

                              title date_release           rating
34809                DRONE The Game   2020-08-01            Mixed
20217                      Lost God   2018-02-07  Mostly Positive
39449                The Psychoduck   2021-12-14         Positive
6353                     Soulworker   2021-05-12  Mostly Positive
15644  Tails: The Backbone Preludes   2023-02-02    Very Positive

In [12]:
## Categorical data description 
non_num_data.describe()

        title date_release    rating
count   50872        50872     50872
unique  50751         4292         9
top      Loop   2020-06-18  Positive
freq        4           92     13502

In [13]:
data["rating"].value_counts()

rating
Positive                   13502
Very Positive              13139
Mixed                      12157
Mostly Positive             8738
Mostly Negative             1849
Overwhelmingly Positive     1110
Negative                     303
Very Negative                 60
Overwhelmingly Negative       14
Name: count, dtype: int64

In [14]:
# Dataset Overview

# The dataset contains 50,872 entries and 16 columns .

#     Unnamed: 0: An index column that can be dropped.
#     app_id: A unique identifier for each game.
#     title: The name of the game.
#     date_release: The release date of the game.
#     win: Indicates whether the game is available on Windows.
#     mac: Indicates whether the game is available on macOS.
#     linux: Indicates whether the game is available on Linux.
#     rating: User rating of the game , EX: ("Very Positive", "Mixed").
#     positive_ratio: The percentage of positive reviews.
#     user_reviews: The total number of user reviews.
#     price_final: The final price of the game after discounts.
#     price_original: The original price of the game.
#     discount: The discount percentage applied to the game.
#     steam_deck: Indicates whether the game is Steam Deck compatible.
#     hours: The total hours played by users  .
#     is_recommended: The total number of users who recommended the game .

In [15]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################da

In [16]:


# Data Cleaning

In [17]:
## droping useless columns
data.drop( "Unnamed: 0", axis=1 , inplace=True)

In [18]:
nan_values_counts = data.isnull().sum()

print(nan_values_counts)

app_id                0
title                 0
date_release          0
win                   0
mac                   0
linux                 0
rating                0
positive_ratio        0
user_reviews          0
price_final           0
price_original        0
discount              0
steam_deck            0
hours             13262
is_recommended    13262
dtype: int64

In [19]:
int_types = [int , float , "int64" , "float64"]

for i , col in zip(nan_values_counts , list(data.columns)) :
    nan_per = (i/data.shape[0])*100
    print( "{:s} --> {:.3f} '{:s}' ".format( col , nan_per , str(data[col].dtype)) , end="\n\n")

app_id --> 0.000 'int64'

title --> 0.000 'object'

date_release --> 0.000 'object'

win --> 0.000 'bool'

mac --> 0.000 'bool'

linux --> 0.000 'bool'

rating --> 0.000 'object'

positive_ratio --> 0.000 'int64'

user_reviews --> 0.000 'int64'

price_final --> 0.000 'float64'

price_original --> 0.000 'float64'

discount --> 0.000 'float64'

steam_deck --> 0.000 'bool'

hours --> 26.069 'float64'

is_recommended --> 26.069 'float64'

In [20]:
## handling nans

data["hours"].fillna(0 , inplace=True)
data["is_recommended"].fillna(0 , inplace=True)

/tmp/ipykernel_230/1750402822.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["hours"].fillna(0 , inplace=True)
/tmp/ipykernel_230/1750402822.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["is_recommended"].fillna(0 , inplace=True)

In [21]:
## Converting the data column ontp date formate

data['date_release'] = pd.to_datetime(data['date_release'])

In [22]:
# Rechecking

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50872 entries, 0 to 50871
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   app_id          50872 non-null  int64
 1   title           50872 non-null  object
 2   date_release    50872 non-null  datetime64[ns]
 3   win             50872 non-null  bool
 4   mac             50872 non-null  bool
 5   linux           50872 non-null  bool
 6   rating          50872 non-null  object
 7   positive_ratio  50872 non-null  int64
 8   user_reviews    50872 non-null  int64
 9   price_final     50872 non-null  float64
 10  price_original  50872 non-null  float64
 11  discount        50872 non-null  float64
 12  steam_deck      50872 non-null  bool
 13  hours           50872 non-null  float64
 14  is_recommended  50872 non-null  float64
dtypes: bool(4), datetime64[ns](1), float64(5), int64(3), object(2)
memory usage: 4.5+ MB

In [23]:
# Rechecking

nan_values_counts = data.isnull().sum()

print(nan_values_counts)

app_id            0
title             0
date_release      0
win               0
mac               0
linux             0
rating            0
positive_ratio    0
user_reviews      0
price_final       0
price_original    0
discount          0
steam_deck        0
hours             0
is_recommended    0
dtype: int64

In [24]:
# Rechecking

data.tail(5)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,hours,is_recommended
50867,2296380,I Expect You To Die 3: Cog in the Machine,2023-09-28,True,False,False,Very Positive,96,101,22.0,0.0,0.0,True,0.0,0.0
50868,1272080,PAYDAY 3,2023-09-21,True,False,False,Mostly Negative,38,29458,40.0,0.0,0.0,True,0.0,0.0
50869,1402110,Eternights,2023-09-11,True,False,False,Very Positive,89,1128,30.0,0.0,0.0,True,0.0,0.0
50870,2272250,Forgive Me Father 2,2023-10-19,True,False,False,Very Positive,95,82,17.0,0.0,0.0,True,0.0,0.0
50871,2488510,FatalZone,2023-10-23,True,False,False,Very Positive,88,144,4.0,0.0,0.0,True,0.0,0.0

In [25]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [26]:


# Handling duplicated data

In [27]:
duplicates_data = data.duplicated()
duplicates_data_count = data.duplicated().sum()

In [28]:
## There is no dublicates
print(duplicates_data_count)
data.drop_duplicates(inplace=True)

0

In [29]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [30]:


# Handling outliers

In [31]:
num_cols = list(data.select_dtypes(include=[int , float , "int64" ,"float64"]).columns)

In [32]:
num_cols = num_cols[1:]
num_cols

['positive_ratio',
 'user_reviews',
 'price_final',
 'price_original',
 'discount',
 'hours',
 'is_recommended']

In [33]:
data.shape

(50872, 15)

In [34]:
## Standard Deviation way is the most suitable way for this data 

for col in num_cols :
    upper_limit = np.mean(data[col]) + 3*(np.std(data[col]))
    lower_limit = np.mean(data[col]) - 3*(np.std(data[col]))

    data = data[ (data[col] < upper_limit) & (data[col] > lower_limit) ]

In [35]:
data.shape

(45523, 15)

In [36]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [37]:


# Features Engineering

In [38]:
data.sample(5)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,hours,is_recommended
50754,2394040,游龙传说,2023-05-21,True,False,False,Very Positive,96,131,0.00,0.00,0.0,True,0.0,0.0
19284,740142,DRAGON BALL XENOVERSE 2 - Extra DLC Pack 3,2018-08-28,True,False,False,Mostly Positive,71,74,3.99,7.99,50.0,True,0.0,0.0
9142,468726,Tabletop Simulator - Zombicide,2016-06-03,True,True,True,Very Positive,84,92,9.99,9.99,0.0,True,0.0,0.0
16027,958880,Nick Bounty and the Dame with the Blue Chewed ...,2020-03-31,True,False,False,Positive,95,45,4.99,4.99,0.0,True,86.6,22.0
41080,1323480,No One Can Ever Know,2020-07-16,True,False,False,Mostly Positive,76,13,0.00,0.00,0.0,True,1.6,3.0

In [39]:
data.rename(columns={ "hours" : "num_of_played_hours" , 
                      "is_recommended" : "num_of_recommendations" ,
                       "user_reviews" : "num_of_user_reviews"} ,inplace=True)

In [40]:
list(data.columns)

['app_id',
 'title',
 'date_release',
 'win',
 'mac',
 'linux',
 'rating',
 'positive_ratio',
 'num_of_user_reviews',
 'price_final',
 'price_original',
 'discount',
 'steam_deck',
 'num_of_played_hours',
 'num_of_recommendations']

In [41]:
## Adding more features based on the existed ones 

data["price_difference"] = data["price_original"] - data["price_final"] 

data["game_age"] = 2024 - data["date_release"].dt.year

data["platform_count"] = np.sum(data.loc[:: , ["win" , "mac" , "linux"]] , axis=1)

In [42]:
data["recommendation_ratio"] = np.round(data["num_of_recommendations"] / data["num_of_user_reviews"] , decimals = 3)*100

In [43]:
# Rechecking
data.sample(5)

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,num_of_user_reviews,price_final,price_original,discount,steam_deck,num_of_played_hours,num_of_recommendations,price_difference,game_age,platform_count,recommendation_ratio
35964,665510,Vengeance: Lost Love,2017-06-29,True,False,False,Mixed,52,25,5.99,5.99,0.0,True,84.4,13.0,0.0,7,1,52.0
11692,948900,macdows 95,2019-09-05,True,False,False,Very Positive,93,446,4.99,4.99,0.0,True,1674.1,352.0,0.0,5,1,78.9
11259,1791210,Walkabout Mini Golf: Gardens of Babylon,2021-11-18,True,False,False,Positive,97,38,2.99,2.99,0.0,True,0.0,0.0,0.0,3,1,0.0
14416,914110,Narcos: Rise of the Cartels,2019-11-19,True,False,False,Mixed,51,285,29.99,29.99,0.0,True,3874.6,171.0,0.0,5,1,60.0
41011,1275630,Drug Dealer Simulator: Free Sample,2020-04-03,True,False,False,Very Positive,89,2596,0.00,0.00,0.0,True,5376.0,1294.0,0.0,4,1,49.8

In [44]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [45]:


# Statistics

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45523 entries, 0 to 50871
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   app_id                  45523 non-null  int64
 1   title                   45523 non-null  object
 2   date_release            45523 non-null  datetime64[ns]
 3   win                     45523 non-null  bool
 4   mac                     45523 non-null  bool
 5   linux                   45523 non-null  bool
 6   rating                  45523 non-null  object
 7   positive_ratio          45523 non-null  int64
 8   num_of_user_reviews     45523 non-null  int64
 9   price_final             45523 non-null  float64
 10  price_original          45523 non-null  float64
 11  discount                45523 non-null  float64
 12  steam_deck              45523 non-null  bool
 13  num_of_played_hours     45523 non-null  float64
 14  num_of_recommendations  45523 non-null  float64
 15  price_difference        45523 non-null  float64
 16  game_age                45523 non-null  int32
 17  platform_count          45523 non-null  int64
 18  recommendation_ratio    45523 non-null  float64
dtypes: bool(4), datetime64[ns](1), float64(7), int32(1), int64(4), object(2)
memory usage: 5.6+ MB

In [47]:
temp_list = list(data.select_dtypes(exclude=["object" , "bool" , "datetime64[ns]"]).columns)
for col in temp_list :
    print(f""" the columns is : {col}
                       the mean : {np.mean(data[col])} 
                       the median : {np.median(data[col])} 
                       the std : {np.std(data[col])} 
                       the var : {np.var(data[col])} 
                       the skew : {data[col].skew()} 
                       the kurt : {data[col].kurt()} 
                       the min value : {np.min(data[col])}
                       the max value : {np.max(data[col])}
                       the range : {np.max(data[col]) - np.min(data[col])}
                       the quantile 25 : {data[col].quantile(0.25) }
                       the quantile 50 : {data[col].quantile(0.50) }
                       the quantile 75 : {data[col].quantile(0.75) }""" , end="\n\n\n")

 the columns is : app_id
                       the mean : 1062485.7332776838
                       the median : 999260.0
                       the std : 606427.5730466059
                       the var : 367754401351.1966
                       the skew : 0.34089417093278096
                       the kurt : -0.8947018286909905
                       the min value : 20
                       the max value : 2599300
                       the range : 2599280
                       the quantile 25 : 540385.0
                       the quantile 50 : 999260.0
                       the quantile 75 : 1527840.0


 the columns is : positive_ratio
                       the mean : 77.6570744458845
                       the median : 81.0
                       the std : 17.266391567884515
                       the var : 298.12827777551354
                       the skew : -0.8612549110840959
                       the kurt : 0.12683578084720715
                       the min value : 23
                       the max value : 100
                       the range : 77
                       the quantile 25 : 67.0
                       the quantile 50 : 81.0
                       the quantile 75 : 91.0


 the columns is : num_of_user_reviews
                       the mean : 380.3389715089076
                       the median : 47.0
                       the std : 1440.6687716764359
                       the var : 2075526.5096836905
                       the skew : 20.476789763565122
                       the kurt : 903.0332533800766
                       the min value : 10
                       the max value : 92833
                       the range : 92823
                       the quantile 25 : 19.0
                       the quantile 50 : 47.0
                       the quantile 75 : 179.0


 the columns is : price_final
                       the mean : 7.359182171649497
                       the median : 4.99
                       the std : 7.4042235401049545
                       the var : 54.82252623184435
                       the skew : 1.189439230974898
                       the kurt : 0.9874751955881953
                       the min value : 0.0
                       the max value : 42.0
                       the range : 42.0
                       the quantile 25 : 0.99
                       the quantile 50 : 4.99
                       the quantile 75 : 9.99


 the columns is : price_original
                       the mean : 7.311973288227928
                       the median : 4.99
                       the std : 7.338114190304295
                       the var : 53.847919869945265
                       the skew : 1.1219718845236564
                       the kurt : 0.6640698525499982
                       the min value : 0.0
                       the max value : 32.99
                       the range : 32.99
                       the quantile 25 : 0.99
                       the quantile 50 : 4.99
                       the quantile 75 : 9.99


 the columns is : discount
                       the mean : 2.068295147507853
                       the median : 0.0
                       the std : 9.28303740833316
                       the var : 86.17478352451282
                       the skew : 4.7041190206425965
                       the kurt : 21.495049898890716
                       the min value : 0.0
                       the max value : 60.0
                       the range : 60.0
                       the quantile 25 : 0.0
                       the quantile 50 : 0.0
                       the quantile 75 : 0.0


 the columns is : num_of_played_hours
                       the mean : 5986.325931946488
                       the median : 66.0
                       the std : 38487.18837204504
                       the var : 1481263668.7852793
                       the skew : 15.485093022864453
                       the kurt : 332.73942280721303
                       the min value : 0.0
                       the max value : 1362296.2
                       the range : 1362296.2
                       the quantile 25 : 0.0
                       the quantile 50 : 66.0
                       the quantile 75 : 731.35


 the columns is : num_of_recommendations
                       the mean : 156.52883157964106
                       the median : 12.0
                       the std : 509.8765881666235
                       the var : 259974.13516043656
                       the skew : 5.644583546400857
                       the kurt : 37.12773536534053
                       the min value : 0.0
                       the max value : 5241.0
                       the range : 5241.0
                       the quantile 25 : 0.0
                       the quantile 50 : 12.0
                       the quantile 75 : 61.0


 the columns is : price_difference
                       the mean : -0.04720888342156712
                       the median : 0.0
                       the std : 2.6169490383266143
                       the var : 6.848422269198592
                       the skew : -8.799805016004154
                       the kurt : 113.33347848603738
                       the min value : -42.0
                       the max value : 18.0
                       the range : 60.0
                       the quantile 25 : 0.0
                       the quantile 50 : 0.0
                       the quantile 75 : 0.0


 the columns is : game_age
                       the mean : 5.270808162906663
                       the median : 5.0
                       the std : 3.059771399721744
                       the var : 9.362201018555162
                       the skew : 0.8473383499225974
                       the kurt : 0.8593251778780151
                       the min value : 1
                       the max value : 27
                       the range : 26
                       the quantile 25 : 3.0
                       the quantile 50 : 5.0
                       the quantile 75 : 7.0


 the columns is : platform_count
                       the mean : 1.424356918480768
                       the median : 1.0
                       the std : 0.7629452054252039
                       the var : 0.5820853864813067
                       the skew : 1.168628131945964
                       the kurt : 0.08147337291145496
                       the min value : 0
                       the max value : 3
                       the range : 3
                       the quantile 25 : 1.0
                       the quantile 50 : 1.0
                       the quantile 75 : 2.0


 the columns is : recommendation_ratio
                       the mean : 39.98314917733892
                       the median : 35.199999999999996
                       the std : 72.61670630065103
                       the var : 5273.186033955011
                       the skew : 31.915502866889522
                       the kurt : 1934.5284399428124
                       the min value : 0.0
                       the max value : 6383.3
                       the range : 6383.3
                       the quantile 25 : 0.0
                       the quantile 50 : 35.199999999999996
                       the quantile 75 : 54.50000000000001

In [48]:
### Summary of statistical analysis

### Data Analysis Summary:


# 1. app_id:

# Mean: 1,062,485 - suggests a large number of games in the dataset.

# Median: 999,260 - Similar to the mean, indicating a roughly symmetrical distribution.

# Skewness: 0.34 - A slight positive skew, meaning there are more games with higher app IDs than lower.

# Range: 2,599,280 - A very wide range, again suggesting a large dataset.

# ---------------------------------------------------------------------------------------------------------------------------

# 2. positive_ratio:

# Mean: 77.66% - indicates a generally high positive review ratio, suggesting popular games.

# Median: 81% - Similar to the mean, highlighting a relatively balanced distribution of positive reviews.

# Skewness: -0.86 - A negative skew means there are more games with higher positive review ratios, likely due to the presence of highly-rated games.

# ---------------------------------------------------------------------------------------------------------------------------

# 3. num_of_user_reviews:

# Mean: 380.34 - Suggests that games in the dataset have a decent number of user reviews.

# Median: 47 - The median is significantly lower than the mean, hinting at a highly skewed distribution.

# Skewness: 20.48 - An extremely positive skew indicates a heavy concentration of games with low review counts, with a few games having a massive number of reviews.

# Kurtosis: 903.03 - A massive kurtosis indicates a very sharp peak and extremely heavy tails in the distribution, confirming the presence of outliers with very high review counts.

# ---------------------------------------------------------------------------------------------------------------------------
    
# 4. price_final:

# Mean: 7.36 - The average final price of games in the dataset.

# Median: 4.99 - Median is lower than the mean, implying a positive skew.

# Skewness: 1.19 - Confirms a positive skew, indicating a concentration of games with lower prices and fewer games with high prices.

# ---------------------------------------------------------------------------------------------------------------------------

# 5. price_original:

# Mean: 7.31 - The average original price of games in the dataset.

# Median: 4.99 - Similar to the final price, suggesting similar price distribution.

# Skewness: 1.12 - Slightly lower skew than final price, but still positive, again indicating a concentration of lower priced games.

# ---------------------------------------------------------------------------------------------------------------------------

# 6. discount:

# Mean: 2.07 - The average discount on games.

# Median: 0 - Significantly lower than the mean, indicating a skewed distribution.

# Skewness: 4.70 - A high positive skew suggests a vast majority of games have no discounts, and a few have very large discounts.

# Kurtosis: 21.49 - High kurtosis again indicates sharp peak and heavy tails, reinforcing the skewness.

# ---------------------------------------------------------------------------------------------------------------------------

# 7. num_of_played_hours:

# Mean: 5,986.33 - The average number of hours played across all games.

# Median: 66 - A stark difference from the mean, indicating a strong positive skew.

# Skewness: 15.49 - Confirms a highly positive skew, with many games having low playtimes and a few having extremely high playtimes.

# Kurtosis: 332.74 - Extremely high kurtosis, again confirming a few games with very high play times driving the distribution.

# ---------------------------------------------------------------------------------------------------------------------------

# 8. num_of_recommendations:

# Mean: 156.53 - The average number of recommendations for each game.

# Median: 12 - A large difference from the mean, implying a heavily skewed distribution.

# Skewness: 5.64 - Confirms a high positive skew, with most games having few recommendations and a few having a large number.

# Kurtosis: 37.13 - Extremely high kurtosis confirms the presence of outliers with a vast number of recommendations.

# ---------------------------------------------------------------------------------------------------------------------------
    
# 9. price_difference:

# Mean: -0.05 - The average price difference between original and final price.

# Median: 0 - The median suggests that most games have no price difference.

# Skewness: -8.80 - A highly negative skew indicates a large number of games with no price difference, and a few games with significant price differences.

# Kurtosis: 113.33 - Extremely high kurtosis confirms the presence of a few games with very large price differences.

# ---------------------------------------------------------------------------------------------------------------------------

# 10. game_age:

# Mean: 5.27 - The average age of games in years.

# Median: 5 - Similar to the mean, suggesting a fairly balanced distribution.

# Skewness: 0.85 - A slight positive skew, meaning there are more games older than the average age.

# ---------------------------------------------------------------------------------------------------------------------------

# 11. platform_count:

# Mean: 1.42 - The average number of platforms each game is available on.

# Median: 1 - The median is lower than the mean, indicating a positive skew.

# Skewness: 1.17 - Confirms a positive skew, suggesting a majority of games are available on one platform.

# ---------------------------------------------------------------------------------------------------------------------------

# 12. recommendation_ratio:

# Mean: 39.98 - The average ratio of recommendations to reviews.

# Median: 35.2 - Similar to the mean, indicating a roughly balanced distribution.

# Skewness: 31.92 - An extremely positive skew, similar to other variables with very high outliers.

# Kurtosis: 1934.53 - Extremely high kurtosis again confirms the presence of outliers with very high recommendation ratios.

# ---------------------------------------------------------------------------------------------------------------------------

# ----------------------------------------------------------------------------------------------------------------------------------------------------
# ----------------------------------------------------------------------------------------------------------------------------------------------------
# ----------------------------------------------------------------------------------------------------------------------------------------------------

In [49]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [50]:


# Extracting the final data

In [51]:
# data.to_csv("The_final_extracted_data/steam_games_extracted_phase_1.csv" , index=False)

In [52]:
######################################################################################################################################
######################################################################################################################################
######################################################################################################################################

In [53]:
# End of phase one ...